.hello {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:90vh;
    
    font-family: 'Inconsolata', monospace;
    font-size: 40px;
}

.coffee {
    visibility: hidden;
    font-size: 16px;
    text-decoration: none;
    color:black;
}
.coffee:hover {
    cursor: pointer;
    border-bottom: gray 1px solid;
    font-weight: bold;
}

.typewriter{display: none;}

.typing {  
    display: inline-block; 
    animation-name: cursor; 
    animation-duration: 0.5s; 
    animation-iteration-count: infinite;
    padding-right: 1px;
} 
@keyframes cursor{ 
    0%{border-right: 3px solid #fff} 
    50%{border-right: 3px solid #000} 
    100%{border-right: 3px solid #fff} 
}