<!DOCTYPE html>
<html>
    <head>
        <title>Python django example</title>
    </head>

    <body>
        <h1>
            <span style="background: linear-gradient(to right, #ffa7a3, #5673bd);padding:0.43em 1em;font-size:25px;boarder-radius: 3px; color:#ffffff;">
                ⭐️아이😊엠 그라운드⛳️ 자기💁‍♀️소개💁‍♂️ 하기⭐️
            </span>
        </h1>
        <h2>{{my_name}}</h2>
        <p>
            <span style="border-bottom: 12px solid #dcf1fb; padding: 0 0 0 0.2em;">Study...</span>
            <ul>
                <li>Web</li>
                <li>ML
                    <ul>
                        <li>Recommender system</li>
                        <li>NLP</li>
                        <li>Computer Vision</li>
                    </ul>
                </li>
                <li>XR
                    <ul>
                        <li>VR</li>
                        <li>AR</li>
                    </ul>
                </li>
            </ul>
            <span style="border-bottom: 12px solid #dcf1fb; padding: 0 0 0 0.2em;">Like...</span>
            <ul>
                <li>Watching Sports
                    <ul>
                        <li>Velleyball</li>
                        <li>Snowboarding</li>
                    </ul>
                </li>
                <li>Game
                    <ul>
                        <li>Stardew Valley</li>
                        <li>League of Legend</li>
                        <li>Hearthstone</li>
                    </ul>
                </li>
                <li>
                    Music
                    <ul>
                        <li>산울림</li>
                        <li>Coldplay</li>
                        <li>Kings Of Leon</li>
                        <li>Linkin park</li>
                        <li>Kings Of Convenience</li>
                    </ul>
                </li>
                <li>Travel</li>
            </ul>
        </p>
        <a href="https://www.notion.so/bmoprogramming/Be-MOre-44b1dabb64c34c028c720691fd381d60" target="_blank">📌 노션 블로그</a>
    </body>
</html>