{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'homepage/style.css' %}">
    <title>Hello World!</title>
</head>
<body>
    <h1>coffee</h1>
    <img src="{% static 'homepage/meow_party.gif' %}" alt="Meow Party">
    <p>{{ coffee.name }}: {{ coffee.price }}</p>
    <form method="post">
        {% csrf_token %}
        {{ coffee_form.as_p }}
        <input type="hidden" name="method" value="PUT">
        <button type="submit">update</button>
    </form>
    <form method="post">
        {% csrf_token %}
        <input type="hidden" name="method" value="DELETE">
        <button type="submit">delete</button>
    </form>
</body>
</html>