<!DOCTYPE html>
<html>
    <head>
        <title>아이엠 그라운드 자기소개 하기</title>
    </head>

    <body>
        <h1>안녕하세요</h1>
        <p><b>류성훈</b>입니다.</p>
        <p>개발자의 길은 멀고도 험하네요</p>
        <p>아직은 재미있습니다.</p>
        <p><b>나 :</b> 음..템플릿 태그로.. 369게임 해보겠습니다..준비됐나요?</p>
        <p><b>청중들</b> : 네. 준비됐습니다! 삼!육구삼육구! 삼!육구삼육구!</p>
        {% for num in game_num %}
            {% if not num|divisibleby:"3" %}
                <p><b>{{ num }}번참가자 :</b> {{ num }} !</p>
            {% endif %}
            {% if num|divisibleby:"3" %}
                <p><b>{{ num }}번참가자 :</b> 짝 !</p>
            {% endif %}
        {% endfor %}
        <p>다음번엔 CSS나 Javascript도 추가보도록 하죠! 아. 이제 제 소개를 간단하게 하겠습니다</p>
        <p>제가 좋아하는 음식은 <b>라멘</b>입니다!(비장)</p>
        <p>몇년간 열심히 먹고다녔더니 네이버에 검색해도 나오게 되었습니다! 조금 뿌듯해요</p>
        <img src="https://g-cbox.pstatic.net/20210518_118/1621278780302Y1MoH_JPEG/ryuchelin.jpg?type=m250_375">
        <p>불닭볶음면도 좋아합니다. 40개씩 사고 다 먹으면 또시켜요! 요즘에는 마요네즈 뿌려먹는거 좋아해요</p>
        <p>떡볶이도 로제가 유행이라던데, 마요네즈가 불닭계의 로제라고 봅니다. 고소하고 맛이 좋하요</p>
        <p>그럼이만 ~! </p>


    </body>
</html>