.vscode/settings.json

day1/projects/.vscode/settings.json
day1/projects/mypage/db.sqlite3
day1/projects/mypage/secrets.json

day1/projects/mypage/config/__pycache__/
day1/projects/mypage/homepage/__pycache__/
day1/venvs/

day2/projects/.vscode/settings.json
day2/projects/mycafe/db.sqlite3
day2/projects/mycafe/secrets.json

day2/projects/mycafe/config/__pycache__/
day2/projects/mycafe/starbean/__pycache__/
day2/projects/mycafe/starbean/migrations/__pycache__/
day2/venvs/

MonthlyProject/projects/.vscode/settings.json
MonthlyProject/projects/mysite/db.sqlite3
MonthlyProject/projects/mysite/secrets.json

MonthlyProject/projects/mysite/config/__pycache__/
MonthlyProject/projects/mysite/homepage/__pycache__/
MonthlyProject/venvs/
