<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>About Myself</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>
    <h1>About Myself </h1>
    <div id="grid">
        <nav>
            <li><a href = "/index" title="Main" class="saw" id="active">Main</a></li>
            <li><a href = "/intro" title="Intro" class="saw">Intro</a></li>
            <li><a href = "/interests" title="Interests" class="saw">Interests</a></li>
        </nav>

        <div>
            <h2> Programmers DevCourse Week5-1 Homework </h2>
        </div>
    </div>
    </body>
</html>