#active{
    color: violet;
    text-decoration: none;
}

.menu{
    color: gray;
    font-size : 20px;
    text-decoration: none;
}

p{
    font-size : 18px;
    text-align : center;
    color : black;
}

h1{
    color : black;
    font-size : 40px;
    text-align : center;
    border-bottom : 1px solid gray;
    margin : 0px;
    padding : 20px;
    text-shadow: #FC0 1px 0 10px;
}

h2{
    font-size : 28px;
    text-align : center;
    color : black;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
  }
  .one {
    border: 5px solid black;
    grid-column: 3 / 8;
    grid-row: 1;
  }
  .two {
    border: 5px solid darkgoldenrod;
    grid-column: 3 / 9;
    grid-row: 2 / 5;
  }
  .three {
    border: 5px solid black;
    grid-column: 8 / 9;
    grid-row: 1;
  }
  .four {
    border: 5px solid red;
    grid-column: 3 / 5;
    grid-row: 5 / 7;
  }
  .five {
    border: 5px solid blue;
    grid-column: 5 / 7;
    grid-row: 5 / 7;
  }
  .six {
    border: 5px solid green;
    grid-column: 7 / 9;
    grid-row: 5 / 7;
  }