<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>자기소개 | 김태현</title>
    {% load static %}
    <link rel='stylesheet' href="{% static "css/index.css" %}">
</head>
<body>
    <div class="myself">
        <div class="myself_item">자기소개</div>
        <div class="myself_item">김태현</div>
        <div class="myself_item">남자</div>
        <div class="myself_item">1994/11/8</div>
        <div class="myself_item">010-9018-7025</div>
        <div class="myself_item">chris5207@naver.com</div>
        <div class="myself_item">취미 : 게임, 요리</div>
        <div class="myself_item">성격 : 내성적인편</div>
        <div class="myself_item">잘부탁드려요~</div>
    </div>
</body>
</html>
