{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Introduce</title>
    <link rel="stylesheet" href="{% static 'css/basic.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">
</head>
<body>
    <div class="profile">
        <img src="{% static 'index_image.jpg' %}" class="profile-image">
        <h1>Sumin Lim</h3>
        <hr>
        <ul class="text">
            <li>인공지능 과정 3팀 임수민 입니다!!</li>
            <li><a href="https://www.notion.so/lim8540/2feb07f6e08f41eeab3d3131142f4b9d">자기소개 보러가기</a></li>
            <li><a href="https://lim8540.github.io/">Git 블로그 보러가기</a></li>
        </ul>
    </div>
</body>
</html>