<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/style.css" />
    <title>Jun's Home - {{ sub_page_name }}</title>
  </head>
  <body>
    <header>
      <h1>우리집에 왜 왔니</h1>
    </header>
    <ul class="info">
      {% for key, value in profile.items %}
      <li>
        <h3>{{key}}: {{value}}</h3>
      </li>
      {% endfor %}
    </ul>
  </body>
</html>
