<html>
	<head>
		{% load static %}
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
		<title>자기소개</title>
		<link rel="stylesheet" type="text/css" href="{% static 'intropage/style.css' %}">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	</head>
<body>
	<article id="10b0fe6e-af8f-428f-9f55-c247f7924574" class="page sans">
		<header>
			<div class="page-header-icon undefined">
				<span class="title-icon">🙎🏻‍♂️</span>
			</div>
			<h1 class="page-title">Profile</h1>
		</header><div class="page-body">
			<div id="4da2e4c1-6cf2-4712-9517-585b6324a012" class="column-list">
				<div id="230b657c-c29d-4780-9b45-356539532497" style="width:31.25%" class="column">
					<figure id="427b0443-eaaa-4444-a834-871e85fe24c4" class="image">
						<img style="width:192px" src="{% static 'intropage/selfie.jpg' %}"/>
					</figure>
					<hr>
					<p id="2fda5412-2d59-4594-8f9e-f98952705d7c" class="">
						<b>김태호(Taeho Kim)</b>
					</p>
					<p id="62b56183-68b4-4a21-b105-d18de7418ff5" class="">커피와 개발 없이 못 살아요 👩🏻‍💻</p>
					<p id="d83c5778-b01f-4b50-a93d-a130b87b4903" class="">
						<span class="mini-icon">
							<a href="https://github.com/Ting-Kim">
								<i class="fab fa-github" id="mini-icon"></i>
							</a>
						</span>
						<span class="mini-icon">
							<a href="https://ting-kim.github.io/"><i class="fas fa-blog" id="mini-icon"></i></a>
						</span>
						<span class="mini-icon">
							<a href="#" id="btn-email" class="btn btn-primary" data-toggle="popover" title="ting_916@naver.com" data-placement="bottom">
								<i class="fas fa-envelope" id="mini-icon"></i>
							</a>
						</span>
					</p>
					<p id="0effdb0a-4bd8-44c2-85da-3c3f9f035357" class=""></p>
				</div>
				<div id="1964993a-4eeb-4e15-9b3e-bf7bbb7cce5d" style="width:68.75%" class="column">
					<h2 id="faf79c7f-2b5c-43f2-9d64-8c51cf70f5ab" class="">안녕하세요. 개발자라는 꿈에 도전하고 있는 김태호입니다 !</h2>
					<p id="7fe42f70-21af-48a4-a709-d24a554c6411" class="">인생에서 가장 중요하게 생각하는게 
						<span style="background-color:#faf4c0;">성장</span>입니다 👊🏻<br>사람들과 만나고 많은 경험으로 부터 항상 많은 걸 배우고자 합니다.<br>커피를 사랑하며, 주량은 약하지만 맥주와 치킨을 좋아합니다 🍻<br>🦮🐕‍🦺강아지 2마리, 고양이🐈와 재미있게 살고 있습니다.</p>
					<p id="1d58009c-67c8-4ec8-a61a-d3b92e4ec3b3" class=""></p>
					<ul class="toggle">
						<li>
							<details close="">
								<summary><span style="color:gray; opacity: 0.5;">아이들 사진이 궁금해요!</span></summary>
								<figure class="image">
									<a href="#">
										<div><b>송아</b></div>
										<img style="width:192px" src="{% static 'intropage/songa.jpg' %}"/>
									</a>
								</figure>
								<figure class="image">
									<a href="#">
										<div><b>몽아</b></div>
										<img style="width:192px" src="{% static 'intropage/monga.jpg' %}"/>
									</a>
								</figure>
								<figure class="image">
									<a href="#">
										<div><b>엘리</b></div>
										<img style="width:192px" src="{% static 'intropage/ally.jpg' %}"/>
									</a>
								</figure>
								<hr>
							</details>
						</li>
					</ul>
					<p id="07d54434-f7ae-462c-b2fc-fecdf06052b7" class=""></p>
					<p id="9993fca4-c0fe-4140-a95f-f3a51ec2eda5" class=""></p>
					<br>
					<br>
					<h2 id="cd4213a3-94f1-4a52-83ec-7ec12b46ef33" class="">다뤄 본 기술들</h2>
					<img src="{% static 'intropage/sw_technique.PNG' %}">
					<p id="f88e8ab4-b44f-4370-bab4-8b398eec9210" class=""></p>
					<br>
					<br>
					<h2 id="f42a0b2a-cd6d-43f4-8150-4f7954f65541" class="">History</h2>
					<p id="ee5df8ae-8114-47d3-8483-4be11021e63d" class="">2013.03-2019.08  숭실대학교 기계공학과 졸업</p>
					<p id="36d96d51-037b-45c8-b0eb-ca07f4bda1a6" class="">2018.07-2018.09  현대건설 H-Contech 2기 해외기술봉사단(베트남)</p>
					<p id="093986fd-6ab8-4e68-8f9c-fe4e10d487ec" class="">2018.09-2018.12  LG전자 생산기술원 공정장비 인턴 근무</p>
					<p id="d431e66d-8cbc-4466-a883-cbd5a8f9fe30" class="">2019.06-2020.02  한국NSK 생산관리 근무</p>
					<p id="ff2ee303-154e-4cec-a493-a5976146ffd9" class="">2020.03-2020.08  쌍용교육센터 Java 기반 웹 개발 교육 수료</p>
					<p id="cd392954-3d06-4d12-aed1-ab74a8749c8f" class="">2020.10 2020.10  한국인터넷진흥원 핀테크 개발 교육 과정 수료(2주)</p>
					<p id="12b570ec-66e3-49fa-b79f-4ce1af7e9afd" class="">2020.12-진행 중   Programmers K-Digital 인공지능 데브 코스</p>
					<p id="5bd6ce50-7c70-4425-bfd3-504a15d2fde4" class=""></p>
					<p id="f8ccddd8-dbb4-4978-9768-a0a622112d07" class=""></p>
					<p id="907161b6-777a-4199-9aad-b282c57d85e9" class=""></p>
				</div>
			</div>
			<p id="9846d5ee-fd32-466e-bf81-bc4c13a58595" class=""></p>
			<p id="9f324c15-30a9-4f01-ae1b-c299e91a9d25" class=""></p>
		</div>
	</article>
	<script>
		(function() {
			$('[data-toggle="popover"]').popover();   
		})()
	</script>
</body>
</html>