<!DOCTYPE html>
<html>
    <head>
        <title>Bakery Inventory management system</title>
    </head>

    <body>
        <h1>SuJin Bakery Inventory List 🛒</h1>
        <h4>NAME / PRICE / STOCK</h4>
        {% for bakery in bakery_list %}
            <p>✔ {{ bakery.id }} [{{ bakery.name }}] / {{ bakery.price }}₩ / {{ bakery.stock }}</p>
            </p>

        {% endfor %}

        <p>------------------------------------------</p>

        <h4>🧡 Add item 🧡</h4>

        <form method="POST">{% csrf_token %}
            {{ bakery_form.as_p }}
            <button type="submit" class="btn btn-primary">Save</button>
        </form>

    </body>
</html>
