{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link
      href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900"
      rel="stylesheet"
    />

    <title>ChaeLin의 포트폴리오</title>
<!--
Reflux Template
https://templatemo.com/tm-531-reflux
-->
    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="assets/css/fontawesome.css" />
    <link rel="stylesheet" href="assets/css/templatemo-style.css" />
    <link rel="stylesheet" href="assets/css/owl.css" />
    <link rel="stylesheet" href="assets/css/lightbox.css" />
  </head>

  <body>
    <div id="page-wraper">
      <!-- Sidebar Menu -->
      <div class="responsive-nav">
        <i class="fa fa-bars" id="menu-toggle"></i>
        <div id="menu" class="menu">
          <i class="fa fa-times" id="menu-close"></i>
          <div class="container">
            <div class="image">
              <a href="#"><img src="assets/images/author-image.png" alt="" /></a>
            </div>
            <div class="author-content">
                <h4>ChaeLin Yeo</h4>
                <span>
                    Junior developer<br>
                    소프트웨어공학 전공<br>
                </span>
            </div>
            <nav class="main-nav" role="navigation">
              <ul class="main-menu">
                <li><a href="#section1">Experiences</a></li>
                <li><a href="#section2">Projects</a></li>
                <li><a href="#section3">Awards & Certifications</a></li>
                <li><a href="#section4">Contact Me</a></li>
              </ul>
            </nav>
            <div class="social-network">
              <ul class="soial-icons">
                <li>
                    <a href="https://chaelinyeo.github.io/"
                      ><i class="fa fa-user"></i
                    ></a>
                </li>
                <li>
                    <a href="https://github.com/ChaeLinYeo"
                    ><i class="fa fa-github"></i
                    ></a>
                </li>
                <li>
                    <a href="mailto:gomgomtoto@gmail.com"
                    ><i class="fa fa-envelope-o"></i
                    ></a>
                </li>
              </ul>
            </div>
            <div class="copyright-text">
              <p>Copyright 2019 Reflux Design</p>
            </div>
          </div>
        </div>
      </div>

      <section class="section about-me" data-section="section1">
        <div class="container">
          <div class="section-heading">
            <h2>Experiences</h2>
            <div class="line-dec"></div>
            <span>
                <p>
                    <div style = " font-size:1.2em;">교내 Software-Up 경진대회 참여</div>
                    2017.11.09 ~ 2017.11.09
                </p>
                <br>
                <p>
                    <div style = " font-size:1.2em;">알리바바닷컴 글로벌 이커머스 아카데미</div>
                    2018.05.16 ~ 2018.06.14
                </p>
                <br>
                <p>
                    <div style = " font-size:1.2em;">English Club-Short Stories Book Club(2기)</div>
                    2018.04.30 ~ 2018.06.08
                </p>
                <br>
                <p>
                    <div style = " font-size:1.2em;">상해 교통대 교환학생(어학 및 중국 비즈니스)</div>
                    2018.07.08 ~ 2018.08.03
                </p>
                <br>
                <p>
                    <div style = " font-size:1.2em;">부평 YMCA 사회봉사</div>
                    2018.07 ~ 2018.08
                </p>
                <br>
                <p>
                    <div style = " font-size:1.2em;">Software-Up창업 아이디어톤 대회 참여</div>
                    2018.11.9 ~ 2018.11.10
                </p>
                <br>
                <p>
                    <div style = " font-size:1.2em;">네이버 플랫폼 NAVER CLOUD PLATFORM AI hands-on lab</div>
                    2019.01.25 ~ 2019.01.25
                </p>
                <br>
                <p>
                    <div style = " font-size:1.2em;">교내 프로그래밍 경진대회 hepc 참여</div>
                    2019.03 ~ 2019.04
                </p>
                <br>
                <p>
                    <div style = " font-size:1.2em;">교내 컴퓨터비전 연구실 인턴</div>
                    2019.03 ~ 2019.06
                </p>
                <br>
                <p>
                    <div style = " font-size:1.2em;">소셜앱스 인턴</div>
                    2019.12.26 ~ 2020.08.16
                </p>
                <br>
                <p>
                    <div style = " font-size:1.2em;">KETI 모비우스 개발자 대회 참여 및 수상</div>
                    2020.07 ~ 2020.09.10
                </p>
                <br>
                <p>
                    <div style = " font-size:1.2em;">Programmers AI school 1기 참여중</div>
                    2020.11.30 ~ 
                </p>
            </span>
          </div>
          <div class="left-image-post">
            <div class="row">
              <div class="col-md-6">
                <div class="left-image">
                  <img src="assets/images/wordcloud_20201223225233.png" alt="" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="section my-services" data-section="section2">
        <div class="container">
          <div class="section-heading">
            <h2>Projects</h2>
            <div class="line-dec"></div>
            <span>
                내가 진행한 프로젝트들
            </span>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="service-item">
                <div class="fourth-service-icon service-icon"></div>
                <h4>DeepLearning Extract 40 features from human faces</h4>
                <p>
                    <a href="https://github.com/ChaeLinYeo/DeepLearning-Extract_40_features_from_human_faces" style="color:#a43f49">Click to go to GitHub</a><br>
                    사진에서 사람의 얼굴을 인식하여 얼굴에서 40가지의 특징점들을 찾아내는 딥러닝 프로젝트<br>
                </p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="service-item">
                <div class="fourth-service-icon service-icon"></div>
                <h4>MNIST Project</h4>
                <p>
                    <a href="https://github.com/ChaeLinYeo/MNIST-Artificial-Intelligence" style="color:#a43f49">Click to go to GitHub</a><br>
                    Perceptron, Logistic Regression, SVM 분류기를 이용하여 최상의 MNIST학습 결과 도출하기<br>
                    SVM Classifier + Stochastic Gradient Descen 으로 MNIST의 Multi-Label Classification Problem 해결하기<br>
                    Standard Scaling, PCA, Convolution, Polynomial 전처리작업 및 작업물을 그래프로 도식화시키기<br>
                </p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="service-item">
                <div class="first-service-icon service-icon"></div>
                <h4>Distinguish between me and others</h4>
                <p>
                    <a href="https://github.com/ChaeLinYeo/Multimedia-and-Information-Processing/tree/master/hw3" style="color:#a43f49">Click to go to GitHub</a><br>
                    비디오 또는 웹캠 영상을 입력받아 얼굴을 검출하고, 본인인지 아닌지 분류하는 딥러닝 프로그램<br>
                    내 셀카 수십장을 학습시켜 나와 다른사람의 얼굴을 구별함<br>
                    비디오 또는 웹캠에 여러 사람이 있을 때 내 얼굴과 다른 사람의 얼굴을 구분하여 박스체킹 한다.<br>
                </p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="service-item">
                <div class="first-service-icon service-icon"></div>
                <h4>Distinguish between men and women</h4>
                <p>
                    <a href="https://github.com/ChaeLinYeo/Gender-Classification" style="color:#a43f49">Click to go to GitHub</a><br>
                    이미지에서 인물의 얼굴을 검출하여 여성인지 남성인지 판별하는 딥러닝 프로그램<br>
                </p>
              </div>
            </div>
            <div class="col-md-6">
                <div class="service-item">
                  <div class="third-service-icon service-icon"></div>
                  <h4>AI Pet CCTV Robot</h4>
                  <p>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/xgkCvGvINPU" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br>
                    <a href="https://github.com/ChaeLinYeo/Pet-CCTV-Robot" style="color:#a43f49">Click to go to GitHub</a><br>
                    사용자가 설정한 위험 구역에 반려동물이 진입하였을시 AI로 감지하여 앱으로 푸시 알림을 주고 로봇에서 음성이 송출되어 반려동물을 저지한다.<br>
                  </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="service-item">
                  <div class="first-service-icon service-icon"></div>
                  <h4>Distinguish between me and others</h4>
                  <p>
                      <a href="https://github.com/ChaeLinYeo/Multimedia-and-Information-Processing/tree/master/hw3" style="color:#a43f49">Click to go to GitHub</a><br>
                      비디오 또는 웹캠 영상을 입력받아 얼굴을 검출하고, 본인인지 아닌지 분류하는 딥러닝 프로그램<br>
                      내 셀카 수십장을 학습시켜 나와 다른사람의 얼굴을 구별함<br>
                      비디오 또는 웹캠에 여러 사람이 있을 때 내 얼굴과 다른 사람의 얼굴을 구분하여 박스체킹 한다.<br>
                  </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="service-item">
                  <div class="first-service-icon service-icon"></div>
                  <h4>Distinguish between men and women</h4>
                  <p>
                      <a href="https://github.com/ChaeLinYeo/Gender-Classification" style="color:#a43f49">Click to go to GitHub</a><br>
                      이미지에서 인물의 얼굴을 검출하여 여성인지 남성인지 판별하는 딥러닝 프로그램<br>
                  </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="service-item">
                  <div class="third-service-icon service-icon"></div>
                  <h4>Custom Web Server</h4>
                  <p>
                    <a href="https://github.com/ChaeLinYeo/Custom-web-server" style="color:#a43f49">Click to go to GitHub</a><br>
                    HTML, GIF, JPEG, MP3 및 PDF 파일을 인식할 수 있는 커스텀 웹 서버<br>
                  </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="service-item">
                  <div class="fourth-service-icon service-icon"></div>
                  <h4>Applying software engineering to plan 10 billion projects</h4>
                  <p>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/eOY9CbsdZOI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br>
                    <a href="https://github.com/ChaeLinYeo/Applying-software-engineering-to-plan-10-billion-projects" style="color:#a43f49">Click to go to GitHub</a><br>
                    소프트웨어 공학의 다양한 이론을 적용하여 100억 규모의 교육용 소프트웨어 개발 기획하기<br>
                  </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="service-item">
                  <div class="first-service-icon service-icon"></div>
                  <h4>V-Commerce Android App</h4>
                  <p>
                    인턴 프로젝트 <br>
                    chatAPI, 클라우드 서비스, 모바일 라이브 비디오 스트리밍 플랫폼을 이용한 V-Commerce 겸용 방송 앱, 그리고 앱과 연동되어 방송 시청이 가능한 웹 페이지<br>
                  </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="service-item">
                  <div class="first-service-icon service-icon"></div>
                  <h4>V-Commerce Android App and Web</h4>
                  <p>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/gXxaouFyWQY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/UKO8SW7_n_M" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br>
                    인턴 프로젝트 <br>
                    Web RTC, 클라우드 서비스를 이용한 V-Commerce 겸용 방송 앱, 그리고 앱과 연동되어 방송 시청이 가능한 웹 페이지<br>
                  </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="service-item">
                  <div class="first-service-icon service-icon"></div>
                  <h4>ETC, Toy projects...</h4>
                  <p>
                    <a href="https://github.com/ChaeLinYeo?tab=repositories" style="color:#a43f49">Click to go to GitHub</a><br>
                    로봇, 안드로이드 앱, 웹 프론트엔드 등등 여러가지 프로젝트들<br>
                  </p>
                </div>
            </div>
          </div>
        </div>
      </section>

      <section class="section my-work" data-section="section3">
        <div class="container">
          <div class="section-heading">
            <h2>Awards & Certifications</h2>
            <div class="line-dec"></div>
            <span>
                <p>
                    <div style = " font-size:1.4em;">Awards</div>
                    <br>
                    교내 CARE사업 어드벤처 디자인 은상 수상<br>
                    <br>
                    KETI 모비우스 개발자대회 장려상 수상<br>
                    <br>
                </p>
                <br>
                <p>
                    <div style = " font-size:1.4em;">Certifications</div>
                    <br>
                    Global E-Commerce Talent(GET)<br>
                    <br>
                    Topcit : Level 2<br>
                    <br>
                    Toeic<br>
                </p>
                <br>
            </span>
          </div>
        </div>
      </section>

      <section class="section contact-me" data-section="section4">
        <div class="container">
          <div class="section-heading">
            <h2>Contact Me</h2>
            <div class="line-dec"></div>
          </div>
          <div class="row">
            <div class="right-content">
              <div class="container">
                <form id="contact" action="" method="post">
                  <div class="row">
                    <div class="col-md-6">
                      <fieldset>
                        <input
                          name="name"
                          type="text"
                          class="form-control"
                          id="name"
                          placeholder="Your name..."
                          required=""
                        />
                      </fieldset>
                    </div>
                    <div class="col-md-6">
                      <fieldset>
                        <input
                          name="email"
                          type="text"
                          class="form-control"
                          id="email"
                          placeholder="Your email..."
                          required=""
                        />
                      </fieldset>
                    </div>
                    <div class="col-md-12">
                      <fieldset>
                        <input
                          name="subject"
                          type="text"
                          class="form-control"
                          id="subject"
                          placeholder="Subject..."
                          required=""
                        />
                      </fieldset>
                    </div>
                    <div class="col-md-12">
                      <fieldset>
                        <textarea
                          name="message"
                          rows="6"
                          class="form-control"
                          id="message"
                          placeholder="Your message..."
                          required=""
                        ></textarea>
                      </fieldset>
                    </div>
                    <div class="col-md-12">
                      <fieldset>
                        <button type="submit" id="form-submit" class="button">
                          Send Message
                        </button>
                      </fieldset>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>

    <!-- Scripts -->
    <!-- Bootstrap core JavaScript -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="/assets/js/isotope.min.js"></script>
    <script src="/assets/js/owl-carousel.js"></script>
    <script src="/assets/js/lightbox.js"></script>
    <script src="/assets/js/custom.js"></script>
    <script>
      //according to loftblog tut
      $(".main-menu li:first").addClass("active");

      var showSection = function showSection(section, isAnimate) {
        var direction = section.replace(/#/, ""),
          reqSection = $(".section").filter(
            '[data-section="' + direction + '"]'
          ),
          reqSectionPos = reqSection.offset().top - 0;

        if (isAnimate) {
          $("body, html").animate(
            {
              scrollTop: reqSectionPos
            },
            800
          );
        } else {
          $("body, html").scrollTop(reqSectionPos);
        }
      };

      var checkSection = function checkSection() {
        $(".section").each(function() {
          var $this = $(this),
            topEdge = $this.offset().top - 80,
            bottomEdge = topEdge + $this.height(),
            wScroll = $(window).scrollTop();
          if (topEdge < wScroll && bottomEdge > wScroll) {
            var currentId = $this.data("section"),
              reqLink = $("a").filter("[href*=\\#" + currentId + "]");
            reqLink
              .closest("li")
              .addClass("active")
              .siblings()
              .removeClass("active");
          }
        });
      };

      $(".main-menu").on("click", "a", function(e) {
        e.preventDefault();
        showSection($(this).attr("href"), true);
      });

      $(window).scroll(function() {
        checkSection();
      });
    </script>
  </body>
</html>
