<head>
    <title>메뉴 변경하기</title>
</head>
{% extends 'base.html' %}


{% block content %}

<div class="container my-3">
    <table class="table table-hover">
        <thead>
            <tr class="table-dark">
                <th scope="col">ID</th>
                <th scope="col">이름</th>
                <th scope="col">가격</th>
                <th scope="col">아이스</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td scope="row">{{ coffee.id }}</td>
                <td>{{ coffee.name }}</td>
                <td>{{ coffee.price }}</td>
                {% if coffee.is_ice %}
                <td>&#10004;</td>
                {% else %}
                <td>&#10006;</td>
                {% endif %}
            </tr>
        </tbody>
    </table>
</div>

<div class="container my-5">

    <h5 class="my-3 border-bottom pb-2">메뉴 변경하기</h5>
    <form method="POST">
        {% csrf_token %}
        <input type="hidden" name="_method" value="PUT">

        <!-- 오류표시 Start -->
        {% if coffee_form.errors %}
        <div class="alert alert-danger" role="alert">
            {% for field in coffee_form %}
            {% if field.errors %}
            <strong>{{ field.label }}</strong>
            {{ field.errors }}
            {% endif %}
            {% endfor %}
        </div>
        {% endif %}
        <!-- 오류표시 End -->

        <div class="row g-4 align-items-center">
            <div class="col-auto form-floating mb-3">
                <input type="text" class="form-control" name="name" placeholder="Ameriano">
                <label for="floatingInput">　이름</label>
            </div>
            <div class="col-auto form-floating mb-3">
                <input type="number" class="form-control" name="price" placeholder="2000">
                <label for="floatingInput">　가격</label>
            </div>
            <div class="col-auto form-check">
                <input class="form-check-input" type="checkbox" value="True" name="is_ice">
                <label class="form-check-label" for="flexCheckDefault">아이스</label>
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-outline-primary">변경하기</button>
            </div>
        </div>
    </form>

</div>

<div class="container my-5">
    <h5 class="my-3 border-bottom pb-2">메뉴 삭제하기</h5>
    <form method="POST">
        {% csrf_token %}
        <input type="hidden" name="_method" value="DELETE">

        <div class="row g-4 align-items-center">
            <div class="col-auto">
                <button type="submit" class="btn btn-outline-primary">삭제하기</button>
            </div>
        </div>
</div>


{% endblock %}