<!DOCTYPE html> <!-- html5 -->
<html>
    <head>
        <title>Self Introduction Page</title>
    </head>

    <body>
        <h1>I am Ground</h1>
        <h2>자기소개 하기!!</h2>
        <p>안녕하세요! 저는 남유선 입니다🐰</p>
        <p>
            <p>
               저는 낯을 많이 가리고, 사람들이 저를 처음 봤을 때 차갑대요.. 사실 그냥 혼자서 굉장히 어색해 하고 낯가리는 중이랍니다..!<br>
               하나에 빠지면 한동안은 그거 하나에만 꽂혀요. 월드콘이라던가.. 런치패드라던가.. 요거트 라던가.. <br>
            </p>        
            <p>
               취미는 드라마 보기입니당! 가장 좋아하는 드라마는 응답하라 1997이고, 최근에는 로스쿨을 보고 있습니당!<br>
               저는 음악을 듣는 것도 좋아합니다.🎧 Pop song, K-pop, 8090, 뉴에이지 등을 좋아합니다.<br>
               최근에 생긴 취미가 2개가 있는데 운동하기와 요리입니다.<br>
               최근에 바빠지면서 둘 다 못하고 있어서 슬퍼요ㅠㅠ<br>
            </p>
            <p>
               지금은 하고 싶은 걸 찾고 있는 중입니다!<br>
               분야도, 인생의 목표도 고민하고 있습니당..!🙃<br>
               이것 저것 하고 싶은 건 많은데, 선택하기가 참 어려운 거 같아요..ㅎㅎ<br>
            </p>            

            {% comment %} <table border=1>
                <th>Category</th>
                <th>What I like</th>
                <th>What I dislike</th>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table> {% endcomment %}
        </p>        
        <p>
            <h4>좋아하는 것과 싫어하는 것</h4>
            <table border=1>
                <th>Category</th>
                <th>What I like</th>
                <th>What I dislike</th>

                <tr>
                    <td>Food</td>
                    <td>Chocolate🍫💛, Yogurt, 삼겹살, 빵🥖 </td>
                    <td>해산물🐚🦪</td>
                </tr>
                <tr>
                    <td>Color</td>
                    <td>노란색, 하늘색</td>
                    <td>핑꾸색</td>
                </tr>
                <tr>
                    <td>계절</td>
                    <td>가을🍁</td>
                    <td>여름☀️</td>
                </tr>
            </table>
        </p>
    </body>
</html>