<!DOCTYPE html>
<html>
    <head>
        <title> Python django Example</title>
    </head>
    <body>
        <h1 align="center">Introduce </h1>
        <div align="center">
        <a href="url"><img  src="https://img1.daumcdn.net/thumb/R1280x0.fjpg/?fname=http://t1.daumcdn.net/brunch/service/user/7N7E/image/URKBHVaXcZcpylANYpmsTniIFEg.jpg" width="200" height="200" align="center" ></a>
        </div>

        <p style="font-size:20px;" align="center"> Name   </p>
        <p align="center">김병일</p>
        <p style="font-size:20px;" align="center"> Language</p>
        <p align="center"> Python,C++,Java</p>
        <p style="font-size:20px;" align="center"> Project</p>
        <p align="center"> AWS를 활용한 챗봇</p>
        <p align="center"> 안드로이드 가상 가구 배치 어플리케이션</p>
    </body>
</html>