{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>My self</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <script
      src="http://kit.fontawesome.com/6478f529f2.js"
      crossorigin="anonymouse"
    ></script>
  </head>

  <body id="home">

    <header>
        <a class="logo">DOYOUNG</a>
        <p style="font-size: 50px; align-items: center;">MYSELF</p>
        
        <ul class="link">
        <li>
            <a
                href="https://github.com/kimdy003"
                target="_blank"
                ><i class="fab fa-github-square"></i>
            </a>
        </li>
        <li>
            <a 
                href="https://kd-codebook.tistory.com/" target="_blank"
                ><i class="fab fa-bootstrap"></i>
            </a>
        </li>
        </ul>
    </header>

    <section class="home">
     <img class="home__picture" src="/static/image/Do.PNG" />

     <div style="margin-top: 3%;">
       <p>"하루하루 성실하게</p>
       <P>인생 전체는 되는대로"</P>
     </div>
      
    </section> 

    <section class="home">
      <div >Buger shop</div>
      <div style="margin-bottom: 2%;">-------------------</div>
      <div style="margin-bottom: 2%;"> Order </div>
      {% for buger in buger_list %}
        {% if buger.set_menu %}
          <div style="font-family: serif;">{{ buger.name }}, coke(2000) : {{buger.price|add:2000 }}</div>

        {% else %}
          <div style="font-family: serif;">{{ buger.name }} : {{buger.price }}</div>

        {% endif %}
          
      {% endfor %}

      <div  style="margin-top: 4%;">-------------------</div>
      <div style="margin-bottom: 2%;"> Add </div>
      <form method="POST">{% csrf_token %}
        {{buger_form.as_p}}

        <button type='submit'> Save </button>
      </form>
    </section>
    

    <footer>
          <a href="mailto:kyl123451@naver.com" target="_top"
            >📧 Mail me</a>
    </footer>

  </body>
</html>
