<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
        <title>I AM GROUND JAKISOGAE LET's GET IT</title>
    </head>
    <body>
    <div class="container">
        이건 그냥 Core Mission을 해결하고 싶어서 안꾸미고 소개글만 올려봤습니다.
        <br>
        가볍게 봐주세요..ㅎㅎ
        <br><br>
        <h1>Let Me Introduce Myself</h1>
        <h3>난 하고 싶은 것만 하고 살어</h3>
        안녕하세요, 요즘 코딩 공부에 빠져있는 낭랑 23세 황동준입니다.
        <br>
        저를 잠깐 소개해보자면 일단 요즘은 미친듯이 공부하는 걸 좋아하구요
        <br>
        <ul>
            <li>Machine Learning</li>
            <li>Django</li>
            <li>Flutter (프로젝트 때문에 쓸 수 밖에 없게 됨)</li>
            <li>NLP (espnet 데이터 학습 시키는 방법)</li>
        </ul>
        등을 배우고 있습니다. 꽤 재밌더군요.
        <br>
        대학교는 Sogang University를 다니고 있습니다.
        <br>
        그리고 ROTC 후보생입니다. 근데 병력특례를 가고싶습니다.
        <br>
        어디든 넣어주신다면 잘할 수 있습니다.
        <br>
        <br>
        <h3>별거 없지만 저에 대해 더 알고싶다면</h3>
        <div class="title">
            <strong>
                <a href="https://github.com/Druwa-git">GITHUB</a>
                <br>
                <a href="https://velog.io/@wbsl0427">VELOG</a>
            </strong>
        </div>
        <h3>을 들어가보세요!</h3>

    </div>
    </body>
</html>