{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'index/css/index.css' %}">
        <link rel="stylesheet" herf="{% static 'bootstrap/css/bootstrap.css' %}">
        <title>자기소개 페이지</title>
    </head>
    <body>
        <center>
        <h1>안녕하세요 장치근입니다.</h1><br>
        <h2><p><span>&#183; </span>나이 : 27살</p>
        <p><span>&#183; </span>성별 : <span class='sex'>남</span></p>
        <p><span>&#183; </span>생일 : <span class='birth'>10월 3일</span></p>
        <p><span>&#183; </span>좋아하는 게임 : 롤</p></h2>
        </center>
    </body>
</html>