{% extends 'base.html' %}
{% block content %}
<h2>Coffee Inventory List</h2>
<ul>
    {% for item in coffee_list %}
    <li>
        {{ item.drink }}<span class="tab">&#9;&#9;</span>
        {{ item.stock }}<span class="tab">&#9;&#9;</span>
        <span><a href="{% url 'update' item.id %}">수정</a></span>
        <span class="tab">&#9;</span>
        <span><a href="#" class="delete" data-uri="{% url 'delete' item.id %}">삭제</a></span>
    </li>
    {% endfor %}
</ul>
<span><a href="{% url 'create' %}">추가</a></span>
{% endblock %}
{% block script %}
<script type='text/javascript'>
    $(document).ready(function () {
        $(".delete").on('click', function () {
            if (confirm("해당 음료를 삭제하시겠습니까?")) {
                location.href = $(this).data('uri');
            }
        });
    });
</script>
{% endblock %}