{% extends 'base.html' %}
{% block content %}
<h2>Coffee Inventory List</h2>
<form method="post">
    {% csrf_token %}
    {% include "form_errors.html" %}
    <div>
        <label>이름</label><span class="tab">&#9;</span>
        <input type="text" name="drink" id="drink" value="{{ form.drink.value|default_if_none:'' }}" />
    </div>
    <div>
        <label>재고</label><span class="tab">&#9;</span>
        <input type="number" name="stock" id="stock" value="{{ form.stock.value|default_if_none:'' }}" />
    </div><br />
    <button type="submit">저장</button>
</form>
{% endblock %}