{% load static %}

<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'homepage/css/homepage.css' %}">
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
        <title>자기소개하기</title>
    </head>
    <body>
        <center>
        <div class="whoami">
            <h3>나는?</h3>
        </div>
        <hr>
        <div class="name">
            
            <h1>이름 : 장치근</h1>
        </div>
        <hr>
        <h2>전화번호 : 010-7184-6054
        <hr>
            이메일 : <a href="https://mail.naver.com/write/popup?srvid=note&to=wkdclrms123@naver.com">wkdclrms123@naver.com<a> Click to send email
        <hr>
        <div class="Age">
        나이 : 27</h2>
        </div>
        <hr>
        
        <h2>생일 : <div class="birth">10월 3일</div>
        <hr>
        css 적용법 알아보기 끝!<br>
        더 예쁘게 블로그스타일로 꾸며보자.
        <hr>
        bootstrap 적용 해보고 싶지만 하는법을 모른다...</h2>
        </center>
    </body>
</html>

