<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>donchanee's portfolio</title>
  <link rel="stylesheet" href="../static/style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<a href="#main" class="skip-link">Skip to main content</a>
<header>
	<div class="container">
		<h1>donchanee's 🏡</h1>
		<h2>Collection of records that I've been making and learning.</h2>
		<p>
			Maintained by <a href="https://velog.io/@donchanee">donchanee</a>
		</p>
		<a href="https://github.com/donchanee" class="link-github">
			<span>
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" aria-hidden="true" focusable="false">
					<path d="M32 12.408l-11.056-1.607-4.944-10.018-4.944 10.018-11.056 1.607 8 7.798-1.889 11.011 9.889-5.199 9.889 5.199-1.889-11.011 8-7.798z"></path>
				</svg>
			</span>
			Find more on Github</a>
	</div>
</header>
<nav>
	<ul>
		<li>
			<a href="#about">About & Skills</a>
		</li>
		<li>
			<a href="#education">Education</a>
		</li>
		<li>
			<a href="#experience">Experience</a>
		</li>
		<li>
			<a href="#honors">Honors & Awards</a>
		</li>
	</ul>
</nav>

<main id="main" tabIndex="-1">
	<div class="container">
		<article id="about">
			<section class="container">
				<h2>Dongchan Seol 🐳</h2>
				<p>
					47, Ogeum-ro 44-gil, Songpa-gu, Seoul, Republic of Korea
				</p>
				<p>
					<strong>Phone:</strong> (+82)10-4992-2660
				</p>
				<p>
					<strong>Email:</strong> dchan0305@naver.com / dchan0305@gmail.com
				</p>
				<p>
					<strong>Tech blog:</strong> <a href="https://velog.io/@donchanee">velog.io/@donchanee</a>
				</p>
				<blockquote>
					<p>
						<strong>Don't worry if it doesn't work right. <br> 
							If everything did, you'd be out of a job. <br>

							Just DO what you can.
						</strong>
					</p>
				</blockquote>
			</section>
			<section class="container">
				<h2>Skills & Tech Stack 📚</h2>
				<p>
					I'm a huge fan of Python. <br> Like to make something new, enjoy being excited about new ideas.
				</p>
				<p>What I can do:</p>
				<ul>
					<li>Python</li>
					<li>C</li>
					<li>Javascript</li>
					<li>React</li>
					<li>Flutter</li>
					<li>AWS</li>
					<li>MySQL</li>
					<li>Mongodb</li>
					<li>Django</li>
					<li>Flask</li>
					<li>Kubernetes</li>
					<li>Kubeflow</li>
					<li>Tensorflow</li>
					<li>PyTorch</li>
					<li>Numpy / pandas / matplotlib</li>
					<li>Clean Code</li>
				</ul>
				<p>
					I also love getting new insights through collaboration.
				</p>
				<p>
					<a href="https://github.com/donchanee">Join my GitHub</a> and see more.
				</p>
			</section>
		</article>
		<article id="education">
			<section class="container">
				<h2>Education 🏫</h2>
				<h3>University 📗</h3>
				<p>
					I got a bachelor's degree from <a href="http://www.sejong.ac.kr/">Sejong University</a>.
					<br>I also majored in Information Security.
				</p>
				<h3>KDT;AI 📘</h3>
				<p>
					Participated in the first phase of <a href="https://programmers.co.kr/learn/courses/10821">Programmers AI school</a>
					which was held from November 30, 2020.  
					It's an artificial intelligence school focused on 'solving' real problems rather than 'researching' 
					the latest artificial intelligence models.
				</p>
				<p>
					After building up basic knowledge in the field of artificial intelligence, 
					now have the ability to develop data analysis/mechine learning applications, 
					explore/select optimal AI models and troubleshoot problems, and build data pipelines 
					through challenges and individual/team projects.
				</p>
				<p>
					Most importantly - have fun and learn something new! 
					<br>
					Check out the
					<a href="https://velog.io/@donchanee/series/programmers-AI-DevCourse">resources</a> that I learned.
				</p>
			</section>
		</article>
		<article id="experience">
			<section class="container">
				<h2>Experience 💻</h2>
				<h3>Projects</h3>
				<p>
					<li>Fair Mask Distribution Management System Using Blockchain</li>
					<li>AI project - [will made]</li>
				</p>
			</section>
			<section class="container">
				<h3>Toy Projects 🧸</h3>
				<ol>
					<li>
						Code visualization learning App using OnlinePythonTutor.
					</li>
					<li>
						Internet Education Web App for Digital Literacy.
					</li>
				</ol>
			</section>
			<footer id="files">
				<div class="container">
					<h3>Source Files</h3>
					<a href="https://github.com/donchanee/blockchain_mask" class="link-downloadcss">blockchain_mask</a>
					<a href="https://github.com/HelperC" class="link-downloadhtml">Code visualization</a>
					<a href="https://github.com/donchanee/welldefined" class="link-codepen">Digital Literacy</a>
				</div>
			</footer>
		</article>
		<article id="honors">
			<section class="container">
				<h2>Honors & Awards 🏆</h2>
				<h3>Creative Design Competition 2020 🏅</h3>
				<h4>Mask Distribution Management System Using Blockchain</h4>
				<p>
					Using Ethereum W3.js and Ropsten Testnet, a system that prevents the corner sale of inventory by providing accurate visibility of the movement path of the mask after issuing tokens. <br><br>
					https://github.com/donchanee/blockchain_mask 💯💯💯
				</p>
				<h3>Creative SEJONG IDEA 🏅</h3>
				<p>
					Digitalizing university online coding classes for the COVID-19.
				</p>
				<p>
					Suggest ideas for using Web IDE to conduct coding classes on Web IDE in universities, away from traditional video-oriented lectures. <br><br>
					http://board.sejong.ac.kr/boardview.do?bbsConfigFK=333&pkid=129416&siteGubun=19
				</p>
			</section>
		</article>
	</div>
</main>
<aside class="profile" aria-labelledby="profile-title">
	<div class="container">
		<h4 id="profile-title">Get in touch</h4>
		<ul>
			<li class="profile-title">
				<span>Name:</span>
				<span>Dongchan Seol</span></li>
			<li class="profile-author">
				<span>NickName:</span>
				<span>donchanee</span></li>
			<li class="profile-twitter">
				<span>Lived in:</span>
				<span>
					<a href="https://www.google.com/maps/place/%EC%84%9C%EC%9A%B8%ED%8A%B9%EB%B3%84%EC%8B%9C">Seoul</a>
				</span>
			</li>
			<li class="profile-website">
				<span>Email:</span>
				<span>
					<a href="#">dchan0305@naver.com</a>
				</span>
			</li>
		</ul>
		<a href="kor">🌏🇰🇷 한국어🌏</a>
	</div>
</aside>
<footer class="page-footer">
	<div class="container">
		<p>
			Contributors retain copyright of all graphics used, and styles are available under
			<a href="https://creativecommons.org/licenses/by-nc-sa/3.0/">CC BY-NC-SA</a>
		</p>
	</div>
</footer>
<!-- partial -->
  
</body>
</html>
