<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>donchanee의 포트폴리오</title>
  <link rel="stylesheet" href="../static/style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<a href="#main" class="skip-link">Skip to main content</a>
<header>
	<div class="container">
		<h1>donchanee의 🏡</h1>
		<h2>배우고 만든 것들의 기록.</h2>
		<p>
			<a href="https://velog.io/@donchanee">donchanee</a>가 관리합니다.
		</p>
		<a href="https://github.com/donchanee" class="link-github">
			<span>
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" aria-hidden="true" focusable="false">
					<path d="M32 12.408l-11.056-1.607-4.944-10.018-4.944 10.018-11.056 1.607 8 7.798-1.889 11.011 9.889-5.199 9.889 5.199-1.889-11.011 8-7.798z"></path>
				</svg>
			</span>
			Github에서 더 보기</a>
	</div>
</header>
<nav>
	<ul>
		<li>
			<a href="#about">소개 & 스킬</a>
		</li>
		<li>
			<a href="#education">교육</a>
		</li>
		<li>
			<a href="#experience">경험</a>
		</li>
		<li>
			<a href="#honors">수상내역</a>
		</li>
	</ul>
</nav>

<main id="main" tabIndex="-1">
	<div class="container">
		<article id="about">
			<section class="container">
				<h2>설동찬 🐳</h2>
				<p>
					47, Ogeum-ro 44-gil, Songpa-gu, Seoul, Republic of Korea
				</p>
				<p>
					<strong>휴대폰:</strong> (+82)10-4992-2660
				</p>
				<p>
					<strong>이메일:</strong> dchan0305@naver.com / dchan0305@gmail.com
				</p>
				<p>
					<strong>기술 블로그:</strong> <a href="https://velog.io/@donchanee">velog.io/@donchanee</a>
				</p>
				<blockquote>
					<p>
						<strong>작동하지 않아도 괜찮습니다. <br> 
							모든게 작동해버리면, 저는 할 일이 없거든요.<br>

							제가 할 수 있는 최선을 다합니다.
						</strong>
					</p>
				</blockquote>
			</section>
			<section class="container">
				<h2>소개 & 스킬 📚</h2>
				<p>
					파이썬을 좋아하는 컴공생입니다. <br> 새로운 것을 만드는 것을 좋아하고, 새로운 아이디어를 선호합니다.
				</p>
				<p>할 수 있는 일:</p>
				<ul>
					<li>Python</li>
					<li>C</li>
					<li>Javascript</li>
					<li>React</li>
					<li>Flutter</li>
					<li>AWS</li>
					<li>MySQL</li>
					<li>Mongodb</li>
					<li>Django</li>
					<li>Flask</li>
					<li>Kubernetes</li>
					<li>Kubeflow</li>
					<li>Tensorflow</li>
					<li>PyTorch</li>
					<li>Numpy / pandas / matplotlib</li>
					<li>Clean Code</li>
				</ul>
				<p>
					협업을 통한 프로젝트를 진행하는 것을 좋아합니다!
				</p>
				<p>
					<a href="https://github.com/donchanee">제 GitHub</a>에 놀러오세요!
				</p>
			</section>
		</article>
		<article id="education">
			<section class="container">
				<h2>교육 🏫</h2>
				<h3>대학생활 📗</h3>
				<p>
					<a href="http://www.sejong.ac.kr/">세종대학교</a>에서 학사를 공부하였습니다.
					<br>정보보호학을 전공했고, 컴퓨터 공학 전반에 관심이 많습니다. 암호학을 공부했고
					대칭키 및 공개키 암호론, 이에 대한 구현을 Python으로 실시했습니다.
					보안 프로그래밍에 대한 기초를 다지고, 다양한 Application을 해보았습니다.
				</p>
				<h3>KDT;프로그래머스 AI DEVCourse 📘</h3>
				<p>
					2020년 11월 30일부터 시작한
					<a href="https://programmers.co.kr/learn/courses/10821">Programmers AI school</a> 1기에 참여했습니다.
					<br>데이터 분석을 위한 기본적인 지식(수학/알고리즘 등) 뿐만 아니라 딥러닝/머신러닝에 대한 이해와 이미지 처리, 자연어 처리 등 실제 실습을
					진행하였습니다.
				</p>
				<p>
					인공지능 분야에서 기초 지식을 쌓은 후, 데이터 분석/기계 학습 애플리케이션을 개발하고, 
					최적의 AI 모델을 탐색/선택하며, 문제를 해결하고, 과제와 개별/팀 프로젝트를 통해 데이터 파이프라인을 구축해보는 경험을 했습니다.
				</p>
				<p>
					<a href="https://velog.io/@donchanee/series/programmers-AI-DevCourse">학습에 대한 기록</a>을 남겨두었습니다.
				</p>
			</section>
		</article>
		<article id="experience">
			<section class="container">
				<h2>경험 💻</h2>
				<h3>프로젝트</h3>
				<p>
					<li>블록체인을 활용한 공정한 마스크 유통 관리</li>
					<li>*인공지능 프로젝트</li>
				</p>
			</section>
			<section class="container">
				<h3>토이 프로젝트 🧸</h3>
				<ol>
					<li>
						OnlinePythonTutor를 이용한 코드 시각화 툴
					</li>
					<li>
						디지털 문맹을 위한 인터넷 교육 웹앱
					</li>
				</ol>
			</section>
			<footer id="files">
				<div class="container">
					<h3>Source Files</h3>
					<a href="https://github.com/donchanee/blockchain_mask" class="link-downloadcss">blockchain_mask</a>
					<a href="https://github.com/HelperC" class="link-downloadhtml">Code visualization</a>
					<a href="https://github.com/donchanee/welldefined" class="link-codepen">Digital Literacy</a>
				</div>
			</footer>
		</article>
		<article id="honors">
			<section class="container">
				<h2>수상내역 🏆</h2>
				<h3>2020 창의경진설계대회 🏅</h3>
				<h4>블록체인을 활용한 마스크 유통 관리 시스템</h4>
				<p>
					이더리움 W3.js와 Ropsten 테스트넷을 활용하여, 토큰을 발행한 후 마스크의 이동경로를 정확하게 파악할 수 있게 하여 재고의 매점매석을 방지하는 시스템 <br><br>
					<a href="https://github.com/donchanee/blockchain_mask">Link</a> 💯💯💯
				</p>
				<h3>Creative SEJONG IDEA 공모전 동상 🏅</h3>
				<p>
					언택트 온라인 강의 - 코딩 패러다임 변화
				</p>
				<p>
					웹 IDE를 사용해서 기존의 동영상 위주의 강의에서 벗어나, 대학교에서도 웹 IDE로 코딩 수업을 진행하는 것에 대한 아이디어 제안 <br><br>
					<a href="http://board.sejong.ac.kr/boardview.do?bbsConfigFK=333&pkid=129416&siteGubun=19">Link</a> 💯💯💯
				</p>
			</section>
		</article>
	</div>
</main>
<aside class="profile" aria-labelledby="profile-title">
	<div class="container">
		<h4 id="profile-title">연락처</h4>
		<ul>
			<li class="profile-title">
				<span>이름:</span>
				<span>설동찬</span></li>
			<li class="profile-author">
				<span>닉네임:</span>
				<span>donchanee</span></li>
			<li class="profile-twitter">
				<span>거주지:</span>
				<span>
					<a href="https://www.google.com/maps/place/%EC%84%9C%EC%9A%B8%ED%8A%B9%EB%B3%84%EC%8B%9C">서울</a>
				</span>
			</li>
			<li class="profile-website">
				<span>이메일:</span>
				<span>
					<a href="#">dchan0305@naver.com</a>
				</span>
			</li>
		</ul>
		<a href="">🌎 Eng 🌎</a>
	</div>
</aside>
<footer class="page-footer">
	<div class="container">
		<p>
			Contributors retain copyright of all graphics used, and styles are available under
			<a href="https://creativecommons.org/licenses/by-nc-sa/3.0/">CC BY-NC-SA</a>
		</p>
	</div>
</footer>
<!-- partial -->
  
</body>
</html>
