<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="container">
        <h1>새 글쓰기</h1>
        <br><br>
        <form method="post" action="">
            {%  csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="등록하기" class="btn btn-info">
        </form>
    </div>
    <div class="l_buttons">
        <a href="{% url 'home'%}">
            <input class="btn btn-info" type="button" value="목록으로">
        </a>
    </div>
</body>
</html>