{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>My self</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <script
      src="http://kit.fontawesome.com/6478f529f2.js"
      crossorigin="anonymouse"
    ></script>
  </head>

  <body id="home">

    <header>
        <a class="logo">DOYOUNG</a>
        <p style="font-size: 50px; align-items: center;">MYSELF</p>
        
        <ul class="link">
        <li>
            <a
                href="https://github.com/kimdy003"
                target="_blank"
                ><i class="fab fa-github-square"></i>
            </a>
        </li>
        <li>
            <a 
                href="https://kd-codebook.tistory.com/" target="_blank"
                ><i class="fab fa-bootstrap"></i>
            </a>
        </li>
        </ul>
    </header>

    <section class="home">
     <img class="home__picture" src="/static/image/Do.PNG" />

     <div>
       <p>"하루하루 성실하게</p>
       <P>인생 전체는 되는대로"</P>
     </div>
      
    </section>

    <footer>
 
          <a href="mailto:kyl123451@naver.com" target="_top"
            >📧 Mail me</a
          >

    </footer>
  </body>
</html>
