<!DOCTYPE html>
<html>

    <head>
        <title>My Introduce Page</title>
    </head>

    <body>
        <h1>
            <p style=font-size:30px>&#11088;아이&#128128;엠 그라운드&#128052;자기&#128587;소개&#128582;하기&#11088;</p>
        </h1>
        <!-- <p>blah blah blah</p>
        <p>{{ my_name|upper }}</p> -->
        <ul>
        <li>Name : {{ intro_list.0 }}</li>
        <li>Level : {{ intro_list.1 }}</li>
        <li>My goal : {{ intro_list.2 }}</li>
        <li>My Github : <a href = "/https://github.com/DeveloperChoi90/programmers_kdt_II">{{ intro_list.3 }}</a></li>
        </ul>
    </body>

</html>