html,
body{
    width:100%;
    height:100%;
    margin-top: 0%;
    margin-left : 0%;
    font-family: 'Gamja Flower', cursive;
    background-image : url(../image/krusty_krab.png);
    background-size: 100%;
    overflow: hidden;
}

.menu_board{
    display:inline-block;
    background-image : url(../image/menu.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width:600px;
    height:400px;
    position:fixed;
    left:200px;
    top:180px;
    text-align: center;
}

img{
    display:inline-block;
    width:700px;
    height:800px;
    position:fixed;
    left:1300px;
    top:180px;
}

.board{
    margin-top:130px;
    width:100%;
    height:100%;
    background-color:pink;
}

.menu{
    display:inline-block;    
    margin-right:10px;
    width:45%;
    vertical-align: middle;
}

.form{
    display:inline-block;
    font-size:1vw;
    width:45%;
    vertical-align: middle;
    font-size:1vw;
}

ul{
    font-size:1vw;
}