{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Henry's Christmas Homepage</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poor+Story&display=swap" rel="stylesheet">
    <script src="https://s3.ap-northeast-2.amazonaws.com/materials.spartacodingclub.kr/xmas/snow.js"></script>
</head>
<body>
    <h1>Merry Christmas!</h1>
    <h2>이현규(Henry)의 크리스마스 페이지입니다.</h2>
    <div class="container">
        <p>자료구조 및 알고리즘 어려워요 =(</p>
        <p>인공지능수학 어려워요 =(</p>
        <p>AWS 어려워요 =(</p>
        <p>Flask, Django 겨우 할만해요 =(</p>
        <p><strong>모두 어려운 2020이었지만, 다시 한번 힘을 내요! =D</p>
        <p>Merry Christmas & Happy New Year !!!</strong></p>
    </div>
</body>
</html>