{% extends 'base.html' %}

{% load bootstrap4 %}

{% block content %}
    <div class="container">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4 text-center">Hello I'm Jinpyo.</h1>
                <figure class="figure">
                    <img src="/media/korea.jpg" class="figure-img img-fluid rounded" alt="...">
                    <figcaption class="figure-caption">A photo in Cheong-Ju.</figcaption>
                </figure>
                <p class="lead">I love korea.</p>
                <p class="lead">I don't speak English.</p>
                <p class="lead">But I want speak English very well.</p>
                <p class="lead">Sometimes I drink coffee.</p>
                <p class="lead">Thank you.</p>
            </div>
        </div>
    </div>
{% endblock content %}