{% load static %}
<!DOCTYPE html>
<html>
    <head> 
        <title>My Profile</title>
    </head>

    <body>
        <h1>My Profile</h1>
        <img src = "{% static 'images/profile_img.jpg' %}" alt = "Profile Image" width="200" />
        <p>이름 : 조영수</p>
        <p>나이 : 26</p>
        <p>e-mail : whdudtn73@gamil.com</p>
        <p>github 주소 : <a href="https://github.com/cyssu73">https://github.com/cyssu73</a><br/></p>
        <p>관심분야 : Computer Vision</p>
        <p>취미 : 영화보기</p>
    </body>
</html>
