<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Python django example</title>
    </head>

    <body>
        <h1>HomePage</h1>
        <p>Hello 야옹!</p>
        <p>이름 : {{ cat_name|upper }}</p> <!-- django 변수 -->
        <p>야옹이 생일: {{ cat_birth }}</p> <!-- django 변수 -->

<!--        {% for element in my_list %} for / if 문과같은 조건문 처리 가능함-->
<!--            {% if not element|divisibleby:"2" %}-->
<!--                <p>{{ element }}</p>-->
<!--            {% endif %}-->
<!--        {% endfor %}-->


    </body>
</html>