<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Monthly Project</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>
    <h1>EDA Project </h1>
    <div id="grid">
        <nav>
            <li><a href = "/index" title="메인" class="saw">메인</a></li>
            <li><a href = "/intro" title="과제 및 데이터 소개" class="saw">과제 및 데이터 소개</a></li>
            <li><a href = "/condition" title="행복한 사람들의 특징" class="saw">행복한 사람들의 특징</a></li>
            <li><a href = "/mosthappy" title="행복한 사람들이 많은 지역" class="saw" id="active">행복한 사람들이 많은 지역</a></li>
            <li><a href = "/comparison" title="한국, 중국, 일본의 행복도 비교" class="saw">한국, 중국, 일본의 행복도 비교</a></li>
            <li><a href = "/koreanow" title="한국의 행복도변화" class="saw">한국의 행복도변화</a></li>
        </nav>

        <div>
            <h2> 행복한 사람들이 많은 지역(2021년 Data)</h2>
            <h3> 행복도 점수(Ladder Score)가 6점 이상인 국가는 어느 지역에 많을까?</h3>
            <p> 행복도 점수가 6점 이상인 국가는 총 <strong> 52 </strong>개이다.</p>
            <p> 이들 국가는 어느 지역에 있는지 분포를 확인하면 다음과 같다.</p>
            <h3> Result</h3>
            <img src="static/image/over6_ratio.png" alt="over6_ratio" width="600">
            <h3> Analysis </h3>
            <cl>
                <li class="content"> 서유럽이 34.6%로 가장 많은 비율을 차지한다.</li>
                <li class="content"> 동아시아를 포함한 3개의 지역은 단 1개의 지역만이 행복도 점수가 6점 이상이다.</li>
                <li class="content"> 여담으로 한국, 중국, 일본 모두 6점 이하의 행복도 점수를 가지고 있다.</li>
            </cl>




        </div>
    </div>
    </body>
</html>