<!DOCTYPE html>
<html>
    <head>
        <title>Coffee List</title>
        
    </head>
    
    <body>
        
        <h1>welcome to Ting's Coffee</h1>        
        <p>메뉴 : {{coffee_list}}</p>
        {% for coffee in coffee_list %}
            <hr>
            <p>이름 : {{coffee.name}}</p>
            <p>가격 : {{coffee.price}}</p>
            <hr>
        {% endfor %}

        <form method="POST">{% csrf_token %}
            {{coffee_form.as_p}}
            <button type="submit">Save</button>
        </form>
    </body>
</html>