<!DOCTYPE html>
<html>
    <head>
        <title>Python django example</title>
    </head>

    <body>
        <!-- <h1>Title</h1>
        <p>blah blah blah</p>
        <p>{{ my_name|upper }}</p>
        {% for element in my_list %}
            {% if not element|divisibleby:"2" %}
                <p>{{ element }}</p>
            {% endif %}
        {% endfor %} -->
        <h1>안녕하세요,</h1>
        <h2>서울 양천구에 사는</h2>
        <h3>26살</h3>
        <h1>남광운</h1>
        <h4>입니다.</h4>
    </body>
</html>