<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Coffee Beans List</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>
    <h1>Coffee Beans List</h1>
    <div class="wrapper">
        <div class="one"><h2>보너스 과제 : form을 이용해서 CUD구현하기</h2></div>
            <div class="two">
                <h2>Coffee Beans (100g)</h2>
                {% for coffee in coffee_list %}
                    <p>{{ coffee.name }}, {{ coffee.stock }} ... ({{coffee.id}})</p>
                {% endfor %}
            </div>
            <div class="three">
                <ul>
                    <li><a href = "/index" title="Main" class="menu">Main</a></li>
                    <li><a href = "/coffees" title="Coffee" class="menu" id="active">Coffee</a></li>
                </ul>
            </div>
                <div class="four">
                    <h2>추가</h2>
                    <form method="POST">{% csrf_token %}
                        {{ coffee_form.as_p }}
                        <center><button type='submit'>Save</button></center>
                </div>
            <div class="five">
                <h2>삭제</h2>
                    <form method="POST">{% csrf_token %}
                    <center><button type='submit' value="Delete">Delete</button></center>
            </div>
            <div class="six">
                <h2>교체</h2>
                    <form method="POST">{% csrf_token %}
                    <center><button type='submit' value="Update">Change</button></center>
            </div>
    </div>
    </body>
</html> 